<div class='about-us-title text-center'>Our Achievements</div>
<div id='property_partner'>
  <div class='row'>
    <div class='team-item span3'>
      <div>
        <%= image_tag('achievement-award.jpg', class: 'team-image') %>
      </div>
      <div class='team-name'>
        Best Achievement Award
      </div>
      <div class='team-role'>
        Minister of Commerce
      </div>
      <div class='team-description'>
        Appreciation letter by Minister of Commerce Mrs Khurram Dastagir Khan.
      </div>
    </div>
     <div class='team-item span3'>
      <div>
        <%= image_tag('excellence-award.jpg', class: 'team-image') %>
      </div>
      <div class='team-name'>
        Excellence Award
      </div>
      <div class='team-role'>
        Governor of Punjab
      </div>
      <div class='team-description'>
        Appreciation Certificate by Governor of Punjab Mohammad Sarwar Chaurdhry.
      </div>
    </div>
    <div class='team-item span3'>
      <div>
        <%= image_tag('registration-certificate.jpg', class: 'team-image') %>
      </div>
      <div class='team-name'>
        Certificate of Registration
      </div>
      <div class='team-role'>
        DHA
      </div>
      <div class='team-description'>
        Certificate of Registration by Defence Housing Authority Lahore.
      </div>
    </div>
     <div class='team-item span3'>
      <div>
        <%= image_tag('trusted-agency.jpg', class: 'team-image') %>
      </div>
      <div class='team-name'>
        Trusted Agency
      </div>
      <div class='team-role'>
        Zameen.com
      </div>
      <div class='team-description'>
        Appreciation letter by Zameen.com of Trusted Agency.
      </div>
    </div>

  </div>
</div>
