<div class='content-wrapper clearfix'>
  <%= render 'shared/banner', banner_heading: 'About Us', banner_name: 'About Us', heading_tag: :h1 %>

  <div class='container'>
    <div class='clearfix'></div>
    <div class='row-fluid about-us-layout'>
      <div class='about-us-excerpt'>
        The Konain Marketing are the well reputed property group in market. Serving its superlative and first-class property services in DHA (Lahore, Karachi and Islamabad).
        The all crew is well experienced and ready to show you the best facility as they can serve, they are contributing their top-class services with Konain Marketing from last 6 Years.
        This group was established in 2001 and having a trusted name in the market with the experience of 15 years in property. By all the market experience the CEO of Konain Marketing has decided to launch a full featured website related to the Property matters (buying, selling, consulting & projects launching) .
        The Company has also decided to give the judiciary advisories by the company’s hired advocates. The state of the art office has been launched in DHA which will serve its best to your all concerns because Konain is the sign of experience.
      </div>

      <div class='about-us-title text-center'>CEO Message</div>
      <div class='about-us-excerpt'>
        On the behalf of my real estate experience, I have observed the rapid technology features used by the property sector and growing trend towards the internet round the globe.
        I have decided to launch a full featured website for the convenience of the property sector.
        <strong>"If you cannot see where you are going, ask someone who has been there before."</strong> - J Loren Norris
      </div>
      <%= render 'about_us_awards' %>
    </div>
  </div>
</div>
