<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Email from Konain Marketing</h1>
    <p>
      Message: <%= @body %>
    </p>
    <p>
      From: <%= @name %>
    </p>
    <p>
      Contact Number: <%= @contact %>
    </p>
  </body>
</html>
