<div class="span3">
  <div class="contact-page-info">
    <address>
      <div class="company-name">
        Konain Marketing
      </div>
      <div class="company-address">
        <%= Email::COMPANY_ADDRESS %>
        <div class="clearfix"></div>
        <%= Email::COMPANY_COUNTRY %>
      </div>
      <div class="company-phone">
        <i class="fa fa-phone"></i>042 -111-786-512 (10 am – 8 pm)
      </div>
      <div class='company-phone'><i class='fa fa-mobile'></i>0322/0315-4140804</div>
      <div class='company-phone'><i class='fa fa-skype'></i>KonainMarketing</div>
      <div class="company-email">
        <i class="fa fa-envelope"></i>
        <%= link_to 'konainmarketing@gmail.com', 'mailto:konainmarketing@gmail.com' %>
      </div>
    </address>
  </div>
</div>
