<div id="property_partner">
  <div class="container">
    <header class="partner-header">
      <h2 class='partner-title'>Our Team</h2>
    </header>

    <div class="row">
      <div class="team-item span3">
        <div>
          <%= image_tag('ceo.jpg', class: "team-image") %>
        </div>
        <div class="team-name">
          Syed Samer Abbas
        </div>
        <div class="team-role">
          CEO
        </div>
        <div class="team-description">
          Working in Real Estate service since ThirteenYears have vast and Tremendous Experience in this field.
        </div>
      </div>
       <div class="team-item span3">
        <div>
          <%= image_tag('co-founder.jpg', class: "team-image") %>
        </div>
        <div class="team-name">
          Mrs Ambreen Sammar
        </div>
        <div class="team-role">
          Director
        </div>
        <div class="team-description">
          Working in real estate since 10 yearhave Excellent & Brilliant experience in this field.
        </div>
      </div>
       <div class="team-item span3">
        <div>
          <%= image_tag('gm.jpg', class: 'team-image') %>
        </div>
        <div class="team-name">
          Maj (R) Shahid Latif
        </div>
        <div class="team-role">
          General Manager
        </div>
        <div class="team-description">
          Having vast Experience of HR, Admin.30 Year Experience of Army.
        </div>
      </div>
       <div class="team-item span3">
        <div>
          <%= image_tag('sales-executive.jpg', class: 'team-image') %>
        </div>
        <div class="team-name">
          M. Asif Sheikh
        </div>
        <div class="team-role">
          Sale Executive
        </div>
        <div class="team-description">
          Having Brilliant Experience of RealEstate for Excessive 12 Years.
        </div>
      </div>

    </div>
  </div>
</div>
