<div class="single-property-address">
  <h4>Property Features:</h4>
  <ul class="property-features-list">
    <% property.property_features.each do |feature| %>
      <li class="abc"><i class="fa fa-angle-double-right"></i> <%= feature %></li>
    <% end %>
  </ul>
</div>
